* {
  
  margin: 0 ;
  padding: 0;
  
  
}
.hover:hover{
  background-color:pink
}
body {background-color: rgb(128, 114, 144);
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.modal{position: fixed;
top: 0;
left: 0;
width: 100%;
  height: 100%; 
 background: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;

}
.modal-content{
  text-align: center;
  background: rgb(128, 114, 144);
  color:white;
  width: 70%;
  height: 200px;
  border-radius: 20px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
